<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Etechflow_MegaMenu::license_gate"
             title="Mega Menu"
             module="Etechflow_MegaMenu"
             sortOrder="165"
             parent="Magento_Backend::stores_settings"
             action="etechflow_megamenu/license/gate"
             resource="Etechflow_MegaMenu::config"/>
    </menu>
</config>
